<!-- <div class="header">
  <div class="left-pinned-header">
    <table>
      <col
        *ngFor="let column of leftPinnedColumns"
        [style.width.px]="nodeWidth"
        [style.minWidth.px]="nodeWidth" />

      <thead>
        <tr>
          <th *ngFor="let column of leftPinnedColumns">{{ column }}</th>
        </tr>
      </thead>
    </table>
  </div>

  <div #header class="main-header">
    <div class="spacer" [style.width.px]="totalContentWidth">
      <div
        class="virtual-table"
        [style.transform]="'translateX(' + offsetX + 'px)'">
        <table>
          <col
            *ngFor="let column of visibleColumnsChildren"
            [style.width.px]="nodeWidth"
            [style.minWidth.px]="nodeWidth" />

          <thead>
            <tr>
              <th *ngFor="let column of visibleColumnsChildren">
                {{ column }}
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="viewport" #viewport>
  <div class="row-header">
    <div class="spacer" [style.height.px]="totalContentHeight">
      <div
        class="virtual-table"
        [style.transform]="'translate(' + 0 + 'px, ' + offsetY + 'px)'">
        <table>
          <col
            *ngFor="let column of leftPinnedColumns"
            [style.width.px]="nodeWidth"
            [style.minWidth.px]="nodeWidth" />

          <tbody>
            <tr *ngFor="let item of visibleDataChildren; let rowIndex = index">
              <td *ngFor="let el of leftPinnedColumns; let colIndex = index">
                {{ el }}-{{ item }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="body" #body [style.height.px]="totalContentHeight">
    <div
      class="spacer"
      [style.height.px]="totalContentHeight"
      [style.width.px]="totalContentWidth">
      <div
        class="virtual-table"
        [style.transform]="'translate(' + offsetX + 'px, ' + offsetY + 'px)'">
        <table>
          <col
            *ngFor="let column of visibleColumnsChildren"
            [style.width.px]="nodeWidth"
            [style.minWidth.px]="nodeWidth" />

          <tbody>
            <tr *ngFor="let item of visibleDataChildren; let rowIndex = index">
              <td
                *ngFor="let el of visibleColumnsChildren; let colIndex = index">
                {{ el }}-{{ item }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="virtual-track">
  <div class="left-track" [style.width.px]="leftContentWidth"></div>
  <div class="main-track" #track>
    <div class="track-spacer" [style.width.px]="totalContentWidth"></div>
  </div>
</div> -->
