$height: 1rem;

:host {
  display: flex;
  height: $height;
  background: ghostwhite;
}

.left-content {
  height: $height;
}

.right-content {
  flex: 1;
  overflow: scroll hidden;
}

.spacer {
  height: $height;
}
