:host {
  display: block;
  padding: 2rem 2rem 0;
  font-size: 14px;
}

p {
  span {
    margin-right: 0.5rem;
  }
}

.viewport {
  overflow: hidden auto;
  display: block;
  height: 400px;
  position: relative;
  display: flex;
}

.header {
  display: flex;
}

.main-header {
  overflow: hidden scroll;
}

.body {
  overflow: hidden;
  position: relative;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  th {
    font-weight: normal;
    color: white;
    background: #1f1f1f;
    width: 100px;
    min-width: 100px;
    height: 30px;
    text-align: left;
  }
  th,
  td {
    border: 1px solid #2a2a2a;
    padding: 0 8px;
  }

  td {
    height: 40px;
    background-color: #141414;
    color: white;
  }
}

.row-header {
  table {
    td {
      background-color: #1f1f1f;
    }
  }
}
