/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #141414;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
